{% extends '::base.html.twig' %}

{% block title %}Web Crawler{% endblock %}

{% block body %}
    <div>
        <h1>Search with Web Crawler</h1>

        {{ form(form) }}
        <a href="{{ path('web_crawler_inicio_homepage')}}"><input type='button' value='Cancel' /></a>
    </div>
{% endblock %}
