{# empty Twig template #}
{% block body %}
    <h1>Busqueda con Web Crawler</h1>
    
    <form name="form_search" method="post" action="searchResult.html.twig">
        <input id='search' name='search' type="text" value='search' />
        <input id='url' name='url' type="text" value='where?' />
        <input type='submit' value='send'/>
    </form> 

        {% block javascript_body %}

            <script type="text/javascript">       
                 var search = document.getElementById('search').value;
                 //alert('Search: '+search);
                 {# I don't know how to keep a varieble using twig: search = search #}
            </script>

        {% endblock %}

{% endblock %}